Group_C/nodered/safety_webinterface_test.json
[
    {
        "id": "41287b22cc71b05d",
        "type": "tab",
        "label": "Web Interface test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eda235e719f65f3c",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "tempDataPushToDatabase",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "6e09c0b8e3f2d781"
            ]
        ]
    },
    {
        "id": "d0c02add9bc64fc7",
        "type": "mqtt out",
        "z": "41287b22cc71b05d",
        "name": "",
        "topic": "326project/smartbuilding/hvac/floor0/room0/sensor/humid",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9faa1e76cfab210b",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "6e09c0b8e3f2d781",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "function 80",
        "func": "msg.payload=msg.payload%20+20\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "d0c02add9bc64fc7"
            ]
        ]
    },
    {
        "id": "58671785689398fd",
        "type": "mqtt in",
        "z": "41287b22cc71b05d",
        "name": "",
        "topic": "326project/smartbuilding/hvac/floor0/room0/sensor/humid",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9faa1e76cfab210b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "f920bc39d787c643"
            ]
        ]
    },
    {
        "id": "f920bc39d787c643",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "SmokeDetect_Function",
        "func": "msg.collection ='326_hvac_sensor_humid'\nmsg.payload={\n    \n    \"time\": Date.now(),\n    \"value\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "ac80492756990a72",
                "7f9b83d85af42bf7"
            ]
        ]
    },
    {
        "id": "ac80492756990a72",
        "type": "mongodb out",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "7f9b83d85af42bf7",
        "type": "debug",
        "z": "41287b22cc71b05d",
        "name": "web interface test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "77816a932c2936fd",
        "type": "mongodb in",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "326_hvac_sensor_humid",
        "operation": "find",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "3c5512943e209f3f"
            ]
        ]
    },
    {
        "id": "571ea8306b9fd074",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "77816a932c2936fd"
            ]
        ]
    },
    {
        "id": "3c5512943e209f3f",
        "type": "debug",
        "z": "41287b22cc71b05d",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "d88ab17cb32150f5",
        "type": "comment",
        "z": "41287b22cc71b05d",
        "name": "Publish sensor data database",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d3de727df7c490d",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "tempDataPushToDatabase",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "e5431b0d4c91fb66"
            ]
        ]
    },
    {
        "id": "511cfe60d7feccc6",
        "type": "mqtt out",
        "z": "41287b22cc71b05d",
        "name": "",
        "topic": "326project/smartbuilding/safety/floor0/room0/control/fire_alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9faa1e76cfab210b",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "e5431b0d4c91fb66",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "function 247",
        "func": "if (msg.payload % 2==0){\n    msg.payload == true\n}else{\n    msg.payload==false\n}\nmsg.payload=msg.payload%2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "511cfe60d7feccc6",
                "4009b4cef53ef41f"
            ]
        ]
    },
    {
        "id": "36803353fe7dcbc3",
        "type": "mqtt in",
        "z": "41287b22cc71b05d",
        "name": "",
        "topic": "326project/smartbuilding/safety/floor0/room0/control/fire_alarm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9faa1e76cfab210b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "3bea8b8b06c11daa"
            ]
        ]
    },
    {
        "id": "3bea8b8b06c11daa",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "SmokeDetect_Function",
        "func": "msg.collection ='326_fire_alarm'\nmsg.payload={\n    \n    \"time\": Date.now(),\n    \"value\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "b54f9d2d4383f908"
            ]
        ]
    },
    {
        "id": "b54f9d2d4383f908",
        "type": "mongodb out",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "4009b4cef53ef41f",
        "type": "debug",
        "z": "41287b22cc71b05d",
        "name": "web interface test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "66e72f6610fd0e06",
        "type": "mongodb in",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "326_fire_alarm",
        "operation": "find",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "59019f35fe34ad93"
            ]
        ]
    },
    {
        "id": "54292a2f5ea00375",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "66e72f6610fd0e06"
            ]
        ]
    },
    {
        "id": "59019f35fe34ad93",
        "type": "debug",
        "z": "41287b22cc71b05d",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "8224eeaacccad1be",
        "type": "comment",
        "z": "41287b22cc71b05d",
        "name": "Publish True/False data database",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "ee15d1094ee4e75a",
        "type": "comment",
        "z": "41287b22cc71b05d",
        "name": "Clear database",
        "info": "",
        "x": 100,
        "y": 560,
        "wires": []
    },
    {
        "id": "44707bc7c33ec33f",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "a045bf0e8709edd8"
            ]
        ]
    },
    {
        "id": "a045bf0e8709edd8",
        "type": "mongodb in",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "326_fire_alarm",
        "operation": "find",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "b06e01429d27a83c"
            ]
        ]
    },
    {
        "id": "b06e01429d27a83c",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "function 248",
        "func": "msg.collection = \"326_fire_alarm\"\nasync function sendSingleObj(payload){\n    for (let i = 0; i < payload.length;i++){\n        msg.payload = payload[i]\n        node.send(msg)\n    }\n}\nsendSingleObj(msg.payload)\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 640,
        "wires": [
            [
                "b9d02c44cd633393"
            ]
        ]
    },
    {
        "id": "b9d02c44cd633393",
        "type": "mongodb out",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 780,
        "y": 600,
        "wires": []
    },
    {
        "id": "9faa1e76cfab210b",
        "type": "mqtt-broker",
        "name": "new_mqtt",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de13983547e18743",
        "type": "mongodb",
        "hostname": "mongo_326",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "co326",
        "name": ""
    }
]