Group_C/nodered/safety_webinterface_test.json
[
    {
        "id": "41287b22cc71b05d",
        "type": "tab",
        "label": "Web Interface test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eda235e719f65f3c",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "tempDataPushToDatabase",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "6e09c0b8e3f2d781"
            ]
        ]
    },
    {
        "id": "d0c02add9bc64fc7",
        "type": "mqtt out",
        "z": "41287b22cc71b05d",
        "name": "",
        "topic": "326project/smartbuilding/hvac/floor0/room0/sensor/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9faa1e76cfab210b",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "6e09c0b8e3f2d781",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "function 80",
        "func": "msg.payload=msg.payload%20\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "d0c02add9bc64fc7"
            ]
        ]
    },
    {
        "id": "58671785689398fd",
        "type": "mqtt in",
        "z": "41287b22cc71b05d",
        "name": "",
        "topic": "326project/smartbuilding/hvac/floor0/room0/sensor/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9faa1e76cfab210b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "f920bc39d787c643"
            ]
        ]
    },
    {
        "id": "f920bc39d787c643",
        "type": "function",
        "z": "41287b22cc71b05d",
        "name": "SmokeDetect_Function",
        "func": "msg.collection ='326_hvac_sensor_temp'\nmsg.payload={\n    \n    \"time\": Date.now(),\n    \"value\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "ac80492756990a72",
                "7f9b83d85af42bf7"
            ]
        ]
    },
    {
        "id": "ac80492756990a72",
        "type": "mongodb out",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f9b83d85af42bf7",
        "type": "debug",
        "z": "41287b22cc71b05d",
        "name": "web interface test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "77816a932c2936fd",
        "type": "mongodb in",
        "z": "41287b22cc71b05d",
        "mongodb": "de13983547e18743",
        "name": "",
        "collection": "326_hvac_sensor_temp",
        "operation": "find",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "3c5512943e209f3f"
            ]
        ]
    },
    {
        "id": "571ea8306b9fd074",
        "type": "inject",
        "z": "41287b22cc71b05d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "77816a932c2936fd"
            ]
        ]
    },
    {
        "id": "3c5512943e209f3f",
        "type": "debug",
        "z": "41287b22cc71b05d",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "49135ed81e0af5fe",
        "type": "comment",
        "z": "41287b22cc71b05d",
        "name": "sensor data value",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "aa56a94a9f6ae92a",
        "type": "comment",
        "z": "41287b22cc71b05d",
        "name": "sensor data value",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "9faa1e76cfab210b",
        "type": "mqtt-broker",
        "name": "new_mqtt",
        "broker": "mosquitto_326",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de13983547e18743",
        "type": "mongodb",
        "hostname": "mongo_326",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "co326",
        "name": ""
    }
]